@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__nuxt {
    width: 100%;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    background-color: #fbfafb;
    overflow-x: hidden;
  }
}
